<mat-card #cardTask [ngClass] = "cardTaskClasses" class="w-100"  >
  <mat-card-content>
    <p class="pt-1 pb-1" *ngIf="!renderInputTask" (click)="onDone(cardTask)" > {{task.description}} <i class = "material-icons float-right" (click)="onDeletePressed()">delete</i>  <i class = "material-icons float-right" (click)="onEdit()">edit</i>  </p>

    <mat-form-field *ngIf="renderInputTask">
      <!-- () denotes event-binding.  a template statement responds to an event - it has a side effect -->
      <input matInput #inputTask placeholder="Edit task..." (keyup.enter) = "onEnterPressed(inputTask.value)"   [value]="task.description" [name]=[task.id] (focusout)="focusOffInput()" />
    </mat-form-field>
  </mat-card-content>
</mat-card>
