<app-header></app-header>
<div class = "row d-flex justify-content-center align-self-center align-items-middle h-80">
	<div class = "col-sm-6 col-md-6 col-lg-6 " >
		<mat-card class="p-5">
			<mat-card-content>
					<div class="alert alert-danger" [hidden]="!error">
						There was a problem logging in. Please try again.
					</div>
          <div class="alert alert-danger" [hidden]="!passwordMatchError">
            The password and confirmed passwords do not match.
          </div>
					<form  class="form-signin" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
						<input formControlName="email" type="email" id="email"  class="form-control m-1" placeholder="Username" required autofocus>
						<div *ngIf="email.invalid && (email.dirty ||email.touched)" class="alert alert-danger">
							<div *ngIf="email.errors.required">
								E-mail is required.
							</div>
							<div *ngIf="email.errors.minlength">
	  					  E-mail must be at least 3 characters long.
	  					</div>
							<div *ngIf="email.errors.maxlength">
								E-mail must not exceed 256 characters long.
							</div>
							<div *ngIf="email.errors.email">
								Incorrect e-mail format entered.
							</div>
						</div>

						<input formControlName="password" id="password" type="password" class="form-control m-1" placeholder="Password" required>
						<div *ngIf="password.invalid && (password.dirty ||password.touched)" class="alert alert-danger">
							<div *ngIf="password.errors.required">
								Password is required.
							</div>
							<div *ngIf="password.errors.minlength">
								Password must be at least 8 characters long.
							</div>
							<div *ngIf="password.errors.maxlength">
								Password must not exceed 256 characters long.
							</div>
						</div>

						<input formControlName="confirmedPassword" id="confirmedPassword" type="password" class="form-control m-1" placeholder="Confirm Password" required>
						<div *ngIf="confirmedPassword.invalid && (confirmedPassword.dirty ||confirmedPassword.touched)" class="alert alert-danger">
							<div *ngIf="confirmedPassword.errors.required">
								Password is required.
							</div>
							<div *ngIf="confirmedPassword.errors.minlength">
								Password must be at least 8 characters long.
							</div>
							<div *ngIf="confirmedPassword.errors.maxlength">
								Password must not exceed 256 characters long.
							</div>
						</div>

						<button class="btn btn-lg btn-primary btn-block" [disabled]="!signUpForm.valid">Sign up</button>
					</form>
			</mat-card-content>
		</mat-card>
	</div>
</div>
<app-footer> </app-footer>
