<!--
<div class="custom-control custom-checkbox my-1 mr-sm-2" >
    <input type="checkbox" class="custom-control-input" id="customControlInline" [checked]=todo.isDone>
    <label class="custom-control-label" for="customControlInline">{{todo.description}}</label>
    <button type="button" class="btn btn-danger">Danger</button>
</div>
-->
<mat-card-header>
  <div>
    <mat-form-field>
      <!-- () denotes event-binding.  a template statement responds to an event - it has a side effect -->
      <input #inputTask (keyup.enter) = "onEnterPressed(inputTask.value)" matInput placeholder="Add a task..." [value]="description" [name]=[todo.userId]>
    </mat-form-field>
  </div>
</mat-card-header>
